@charset "UTF-8";

@font-face {
  font-family: "gp-font";
  src:url("../fonts/gp-font.eot");
  src:url("../fonts/gp-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gp-font.woff") format("woff"),
    url("../fonts/gp-font.ttf") format("truetype"),
    url("../fonts/gp-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gp-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-gp-"]:before,
[class*=" icon-gp-"]:before {
  font-family: "gp-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gp-instagram:before {
  content: "f";
}
.icon-gp-gplus:before {
  content: "g";
}
.icon-gp-pinterest:before {
  content: "h";
}
.icon-gp-social-yelp:before {
  content: "i";
}
.icon-gp-bow-tie:before {
  content: "j";
}
.icon-gp-plate-cover:before {
  content: "k";
}
.icon-gp-plate-cover-hand:before {
  content: "l";
}
.icon-gp-truck:before {
  content: "m";
}
.icon-gp-arrow-1-right:before {
  content: "n";
}
.icon-gp-arrow-1-left:before {
  content: "o";
}
.icon-gp-arrow-1-down:before {
  content: "p";
}
.icon-gp-arrow-1-up:before {
  content: "q";
}
.icon-gp-left-open-big:before {
  content: "r";
}
.icon-gp-down-open-big:before {
  content: "s";
}
.icon-gp-right-open-big:before {
  content: "t";
}
.icon-gp-up-open-big:before {
  content: "u";
}
.icon-gp-radio-blank:before {
  content: "x";
}
.icon-gp-radio-checked:before {
  content: "y";
}
.icon-gp-foursquare:before {
  content: "w";
}
.icon-gp-social-facebook:before {
  content: "d";
}
.icon-gp-login:before {
  content: "z";
}
.icon-gp-logout:before {
  content: "A";
}
.icon-gp-mob-menu:before {
  content: "C";
}
.icon-gp-love-heart-fill:before {
  content: "B";
}
.icon-gp-love-heart:before {
  content: "D";
}
.icon-gp-clock:before {
  content: "v";
}
.icon-gp-sort-amount:before {
  content: "a";
}
.icon-gp-sort-amount-two:before {
  content: "E";
}
.icon-gp-angle-down:before {
  content: "F";
}
.icon-gp-angle-left:before {
  content: "G";
}
.icon-gp-angle-right:before {
  content: "H";
}
.icon-gp-angle-up:before {
  content: "I";
}
.icon-gp-cancel:before {
  content: "J";
}
.icon-gp-remove:before {
  content: "L";
}
.icon-gp-chat-bubble-two:before {
  content: "K";
}
.icon-gp-exclamation-circle:before {
  content: "M";
}
.icon-gp-tag-2:before {
  content: "N";
}
.icon-gp-star-empty:before {
  content: "O";
}
.icon-gp-star-half:before {
  content: "P";
}
.icon-gp-star-half-1:before {
  content: "Q";
}
.icon-gp-star-solid:before {
  content: "R";
}
.icon-gp-camera:before {
  content: "S";
}
.icon-gp-list-bullet:before {
  content: "T";
}
.icon-gp-truck-1:before {
  content: "U";
}
.icon-gp-cutlery:before {
  content: "V";
}
.icon-gp-calendar:before {
  content: "W";
}
.icon-gp-location:before {
  content: "X";
}
.icon-gp-search:before {
  content: "Y";
}
.icon-gp-social-twitter:before {
  content: "Z";
}
.icon-gp-information-circle:before {
  content: "b";
}
.icon-gp-like:before {
  content: "c";
}
.icon-gp-unlike:before {
  content: "e";
}
.icon-gp-credit-card:before {
  content: "0";
}
.icon-gp-user:before {
  content: "1";
}
.icon-gp-log-in:before {
  content: "2";
}
.icon-gp-log-out:before {
  content: "3";
}
.icon-gp-cog-gear:before {
  content: "4";
}
.icon-gp-caret-left:before {
  content: "5";
}
.icon-gp-caret-right:before {
  content: "6";
}
.icon-gp-caret-down-two:before {
  content: "7";
}
.icon-gp-caret-up-two:before {
  content: "8";
}